---
import '@/styles.css'

interface Props { title: string; }
const { title } = Astro.props;

export const app = {
   prefix: '{{prefix}}',
   name: "{{app_name}}",
   logo: "{{app_logo}}",
   favicon: "{{app_icon}}",
   accent: "{{app_accent}}",
   service: {
      name: "{{service_name}}"
   },
   build: {
      hash: "{{build_hash}}",
      profile: "{{build_profile}}",
      version: "{{build_version}}",
   }
}

export const pages = `{% for name, url in app_pages %}<a href="{{url}}">{{name}}</a>{% if loop.last == false %}<svg viewBox="0 0 2 2" aria-hidden="true" class="h-0.5 w-0.5 fill-gray-300"><circle cx="1" cy="1" r="1" /></svg>{% endif %}{% endfor %}`;
---

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="generator" content={Astro.generator} />

<title>{title}</title>
<link rel="icon" type="image" href={app.favicon} />
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">